<html>
  <head>
    <title>{{concept.title}} - {{missingElement.title}}</title>
    <meta name="direct-label-ids" content="{{concept.directLabelIds}}" />
    <meta name="source-concept-id" content="{{concept.id}}" />
  </head>
  <body>
    <cw-question-answer-exercise>
      <div slot="question">
        <div>Which element is missing in the following set?</div>
        <div>{{{concept.setDescription}}}</div>
        {{#each existingElements}}
          {{{this.rawContent}}}
        {{/each}}
      </div>
      <div slot="answer">
        {{{missingElement.rawContent}}}
      </div>
    </cw-question-answer-exercise>
  </body>
</html>